# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Env
.venv/
venv/
ENV/
env/
.env

# Models & Data
temp.jpg
temp_audio_file
dataset/
# Keep models in Git if < 100MB
# *.pth
# *.h5

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.trae/